@import url("./preloader.css");
@import url("./global.css");

.main-container {
  background-color: black;
}

/* admin page Layout */
.s-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  color: white;
}

.s-layout__content {
  text-align: center;
  padding-top: 3.75rem;
  flex: 1;
}

/* Sidebar */
.s-sidebar__trigger {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em 0 1.5em;
}

.s-sidebar__trigger > div > a > img {
  width: 100px;
  object-fit: contain;
}

.s-sidebar__trigger > a > i {
  color: rgba(255, 255, 255, 0.7);
}

.s-sidebar__nav {
  position: fixed;
  top: 0;
  left: -15em;
  overflow: hidden;
  transition: all 0.3s ease-in;
  width: 15em;
  height: 100%;
  background: black;
  color: rgba(255, 255, 255, 0.7);
  z-index: 2;
}

.s-sidebar__nav .logo {
  display: none;
}

.s-sidebar__nav--closed {
  left: 0; 
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
  left: 0;
}

.s-sidebar__nav ul {
  position: absolute;
  top: 4em;
  left: 0;
  margin: 0;
  padding: 0;
  width: 15em;
  list-style-type: none;
}

.s-sidebar__nav ul li {
  width: 100%;
}

.s-sidebar__nav-link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 4em;
}

.s-sidebar__nav-link p {
  position: absolute;
  top: 50%;
  left: 4em;
  transform: translateY(-50%);
}

.s-sidebar__nav-link:hover {
  box-shadow: 0 0 7px 1px inset #e4c590;
  background-color: black;
  color: whitesmoke !important;
  border: 1px solid #e4c590;
  border-radius: 5px;
}

.s-sidebar__nav-link > i {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 4em;
  height: 4em;
}

.s-sidebar__nav-link > i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style for the user image and name container */
.user-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #171819;
  text-align: center;
  color: white;
  z-index: 3; /* Ensure it's above other content */
}

/* Style for the user image */
.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
}

/* Style for the user name */
.user-info p {
  margin: 0;
}


/*
===============================
          add menu style 
 ==============================
*/
.header {
  font-family: "Forum", cursive;
  font-size: 3.75rem;
}
.edit-form-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.form-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  margin-bottom: 0;
}
.input-inner {
  flex: 1;
}
.input-field {
  width: 100%;
  color: white;
  background-color: #171819;
  padding: 0.625rem 1.25rem;
  border: 1px solid #313233;
  transition: border 0.3s;
  outline: none;
  z-index: 0;
}
.input-select {
  cursor: pointer;
}
.input-field::placeholder {
  color: white;
}
.input-field:focus {
  border-top: 1px solid #7c6c52; /* Change the top border color when input 2 is focused */
  border-bottom: 1px solid #7c6c52; /* Change the bottom border color when input 2 is focused */
  border-left: 1px solid #e4c690; /* Change the left border color when input 2 is focused */
  border-right: 1px solid #e4c690;
}
input[type="file"] {
  position: absolute;
  left: -9999px;
  top: -9999px;
  height: 0;
  overflow: hidden;
  width: 0;
}
input[type="file"] + label {
  width: 100%;
  color: white;
  background-color: #171819;
  padding: 0.625rem 1.25rem;
  border: 1px solid #313233;
  transition: all 0.3s;
  text-align: start;
  cursor: pointer;
}
input[type="file"]:focus + label {
  border-top: 1px solid #7c6c52 !important;
  border-bottom: 1px solid #7c6c52 !important;
  border-left: 1px solid #e4c690 !important;
  border-right: 1px solid #e4c690 !important;
}
.edit-img {
  display: flex;
}
.edit-img img {
  width: 40px;
  object-fit: contain;
  border: 1px solid #313233;
}
.form-btn {
  width: 100%;
  text-align: center;
}
.form-btn span {
  width: 100%;
}
/* input with icon  */
.input-inner i {
  position: absolute;
}
.icon {
  padding-left: 20px;
  padding-top: 15px;
  cursor: pointer;
  min-width: 20px;
}
/* end add menu style  */
/*** 

====================================================================
  Menu Section
====================================================================

***/
/*---------------
 all menu style  
 ----------------*/
 .all-menu-container {
  text-align: center;
}

/* category section  */
.menu-section {
  padding-top: 100px;
  background-color: #171819;
  position: relative;
}
.right-bg {
 display: none;
}
.left-bg {
display: none;
}
.small-heading {
  text-transform: uppercase;
  font-weight: 700;
  color: #e4c590;
  font-size: 12px;
  letter-spacing: 0.4em;
  line-height: 1em;
  margin-bottom: 10px;
}
.pattern-image img {
  max-width: 100px;
  margin: 0 auto;
}
.section-heading {
  font-size: 60px;
  font-weight: 500;
  line-height: 1.2em;
  font-family: "Forum", cursive;
  margin: 15px 0 50px 0;
  color: white;
  z-index: 3;
}

/* menu section */
.menu-container {
  position: relative;
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 190px;
  row-gap: 35px;
}
.menu-box {
  display: flex;
  gap: 20px;
}
.menu-box p {
  margin: 0 !important;
}

.menu-box .menu-info {
  width: 100%;
  padding-top: 10px;
  position: relative;
}
.menu-box .menu-info .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  gap: 5px;
}
.menu-box .menu-info .title .divider {
  flex-grow: 1;
  position: relative;
  margin: 0 15px;
}
.menu-box .menu-info .title .divider:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -3px;
  width: 100%;
  height: 6px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.menu-box .menu-info .title .menu-title {
  align-self: flex-start;
  text-align: start;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.2em;
  color: white;
  font-family: "Forum", cursive;
  text-transform: capitalize;
}
.menu-box .menu-info .title .price {
  align-self: flex-start;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2em;
  font-family: "Forum", cursive;
  color: #e4c590;
}
.menu-box .menu-info .menu-desc {
  text-align: start;
  color: rgb(167, 167, 167);
  font-size: 14px;
}
.menu-box .menu-image {
  text-align: left;
}
.menu-box .menu-image img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 20%;
  transition: all 500ms ease;
}
.menu-box:hover img,
.menu-box:focus img {
  opacity: 0.7;
  transform: scale(1.05, 1.05);
}
/* end menu  */

/* modal trigger button  */
.hover-button {
  opacity: 0;
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s ease-in;
}
.hover-button span {
  width: 100%;
}
.menu:hover .hover-button {
  margin: 20px 0;
  opacity: 1;
  height: auto;
  text-align: center;
}

/* end modal trigger button  */

/* ------------------- 
     modal style 
 ------------------- */
 .popup-trigger {
  display: inline-block;
}
.popup-modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.edit-modal {
  background-color: black;
  color: white;
  position: absolute !important;
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  padding: 10px 20px 20px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  /* animation-name: animatemodal;
  animation-duration: 0.4s;*/
}
.popup-modal.is--visible {
  display: block;
}

#close-btn {
  align-self: flex-end;
}
#close-btn:hover {
  cursor: pointer;
  color: #e4c590;
}
/* end modal part  */

/* animation part */
@keyframes animatemodal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
/* animation part end */

/* tablet  */
@media (min-width: 42em) {
  .s-layout__content {
    margin-left: 4em;
    padding-top: 0;
  }

  /* Sidebar */
  .s-sidebar__trigger {
    width: 4em;
    background-color: black;
  }
  .s-sidebar__trigger > div {
    display: none;
  }
  .s-sidebar__trigger > a > i {
    color: rgba(255, 255, 255, 0.7);
  }
  .s-sidebar__nav {
    width: 4em;
    left: 0;
  }

  .s-sidebar__nav__medium {
    width: 15em;
  }
  .s-sidebar__nav:hover,
  .s-sidebar__nav:focus,
  .s-sidebar__trigger:hover + .s-sidebar__nav,
  .s-sidebar__trigger:focus + .s-sidebar__nav {
    width: 15em;
  }

  /* add-menu form  */
  .input-group {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    margin-bottom: 0.625rem;
  }

  /* all menu  */
  .menu-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .menu-box .menu-info .title{
    flex-direction: row;
    gap: 0;
  }
}

/* desktop  */
@media (min-width: 62em) {
  .s-layout__content {
    margin-left: 15em;
  }

  /* Sidebar */
  .s-sidebar__trigger {
    display: none;
  }

  .s-sidebar__nav {
    width: 15em;
  }
  .s-sidebar__nav .logo {
    display: block;
    padding-left: 1.3em;
    padding-top: 1.3em;
  }
  .s-sidebar__nav ul {
    top: 6em;
  }

  /* add menu  */
  .form-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }


}

