/* ===================================================
                        top header
======================================================  */
.top-header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  color: white;
  background: black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.top-header li {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
.top-header .top-left {
  flex: start;
  display: flex;
  justify-content: space-between;
  column-gap: 70px;
  position: relative;
}
.top-header li {
  position: relative; /* Add this line */
}
.top-header li:not(:last-child):after {
  content: "";
  position: absolute;
  left: 100%;
  margin-left: 30px;
  top: 50%;
  margin-top: -4px;
  height: 8px;
  width: 8px;
  border: 1px solid rgb(228, 197, 144);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.top-header .top-right {
  flex: end;
  display: flex;
  justify-content: space-between;
  column-gap: 70px;
}

/*=================================================
                 Main Header 
=================================================== */
.main-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1b1c;
  padding: 15px 20px;
}
.nav-container{
  display: flex;
  column-gap: 50px;
  color: white;
  padding-bottom: 10px;
}
.nav-container a{
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.15em;
  line-height: 30px;
  text-transform: uppercase;
}
.nav-container a{
  position: relative;
}
.nav-container a::after{
content: '';
position: absolute;
width: 0px;
height: 5px;
left: 50%;
bottom:-5px;
border-top:1px solid white;
border-bottom:1px solid white;
transition: all ease-in-out .2s;
}
.nav-container a:hover::after{
  width: 100%;
  left: 0;
}
.nav-container a:focus::after{
  width: 100%;
  left: 0;
}
